*.jar
*.log
*.lock
*.phar
*.cache
.git-rewrite
.php-cs-fixer.cache
package-lock.json
vendor/
node_modules/
.env
/.vagrant
.phpunit.result.cache
.DS_Store
error_log
.phpintel
.php_cs.cache
/.idea

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
